@page "/servers"
@rendermode InteractiveServer
@using MyServerManagement.Components.Controls
@inject NavigationManager NavigationManager

<h3>Servers</h3>

<CityLIstComponent SelectedCityCallback="HandleCitySelection"></CityLIstComponent>

<br />
<SearchBarComponent SearchServerCallback="HandleSearchServer"></SearchBarComponent>
<br />

<ServerListComponent 
    @rendermode="InteractiveServer"
    CityName="@this.selectedCity"
    SearchFilter="@searchFilter"
></ServerListComponent>

<p>
    <a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

@code {
    public string selectedCity { get; set; } = "Toronto";

    public string searchFilter = "";

    private void HandleCitySelection(string cityName)
    {
        this.selectedCity = cityName;
        this.searchFilter = string.Empty;
    }

    private void HandleSearchServer(string serverFilter)
    {
        this.searchFilter = serverFilter;
    }
}
