@page "/servers"
@rendermode InteractiveServer
@using MyServerManagement.Components.Controls
@inject NavigationManager NavigationManager

<h3>Servers</h3>

<CityLIstComponent SelectedCityCallback="HandleCitySelection"></CityLIstComponent>

<br />
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search Servers" 
    @bind-value="serverFilter" 
    @bind-value:event="oninput"/>
    <button class="btn btn-outline-secondary" type="button" id="button-search" 
    @onclick="HandleSearch">Search</button>
</div>
<br />

<ServerListComponent 
    @rendermode="InteractiveServer"
    CityName="@this.selectedCity">
    </ServerListComponent>

<p>
    <a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

@code {
    public string selectedCity { get; set; } = "Toronto";
    private string _serverFilter = string.Empty;
    private string serverFilter
    {
        get => _serverFilter; set
        {
            _serverFilter = value;
            //this.servers = ServersRepository.SearchServers(_serverFilter);
        }
    }   

    private void HandleSearch()
    {
        if (!string.IsNullOrWhiteSpace(serverFilter))
        {
          //  this.servers = ServersRepository.SearchServers(serverFilter);
          //  this.selectedCity = string.Empty;
        }
    }

    private void HandleCitySelection(string cityName)
    {
        this.selectedCity = cityName;
    }
}
