@page "/servers"
@rendermode InteractiveServer
@using MyServerManagement.Components.Controls
@inject NavigationManager NavigationManager

<h3>Servers</h3>

<CityListComponent @ref="cityListComponent"
                   SelectedCityCallback="HandleCitySelection"></CityListComponent>

<br />
<SearchBarComponent @ref="searchBarComponent"
                    SearchServerCallback="HandleSearchServer"></SearchBarComponent>
<br />

<CascadingValue Name="SelectedCity" Value="@selectedCity">
    <ServerListComponent @rendermode="InteractiveServer"
                         CityName="@this.selectedCity"
                         SearchFilter="@searchFilter"></ServerListComponent>
</CascadingValue>

<p>
    <a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

@code {
    public string selectedCity { get; set; } = "Toronto";

    public string searchFilter = "";

    public CityListComponent? cityListComponent;
    public SearchBarComponent? searchBarComponent;

    private void HandleCitySelection(string cityName)
    {
        this.selectedCity = cityName;
        this.searchFilter = string.Empty;
        searchBarComponent?.ClearSearch();
    }

    private void HandleSearchServer(string serverFilter)
    {
        this.searchFilter = serverFilter;
        cityListComponent?.ClearSelection();
    }
}
