@page "/todo"
@rendermode InteractiveServer

<h3>To Do</h3>

<button type="button" class="btn btn-primary" @onclick=AddTask>Add task</button>

<br />
<br />

<ul class="list-unstyled">
    @foreach (var task in toDoTasks)
    {
        <li @key="task.Id">
            <div class="row mb-2">
                <div class="col-1" style="width:30px">
                    <input 
                        type="checkbox" 
                        class="form-check-input" 
                        style="vertical-align:middle"
                        @bind-value="task.IsCompleted" 
                        checked="@task.IsCompleted">
                </div>
                <div class="col">
                    <input 
                        type="text" 
                        class="@($"form-control border-0{(task.IsCompleted ? " text-decoration-line-through" : "")}")"
                        style="vertical-align:middle"
                        @bind-value="task.Title" 
                        disabled="@(task.IsCompleted ? true : false)">
                </div>
                <div class="col">
                    @if (task.IsCompleted)
                    {
                        <text> Completed at: @task.CompletedDate.ToLongDateString()</text>
                    }
                </div>
            </div>
        </li>
    }
</ul>



@code {
    private List<ToDoTask> toDoTasks = ToDoTaskRepository.GetTasks();

    private void AddTask()
    {
        ToDoTaskRepository.AddTask(new ToDoTask { Title = $"New task" });
        toDoTasks = ToDoTaskRepository.GetTasks();
    }
}
